*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-family: arial;
	
}
ul{
	list-style: none;
}
a{
	font-size: 16px;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 20px;
}
a:hover{
		background-color: rgba(255,255,255,.3);
}
nav{
	background-color: #2492ff;
	height: 50px;
}
ul#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
	position: relative;
}
.li-p{
	line-height: 50px;
	float: left;
}
ul li ul li{
	background-color: #2492ff; 
}

.content{
	border-radius: 15px;
	background-color: white;
	width: 960px;
	height: 50%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	background-color: white;
}
.content::before{
	content: "";
	position: absolute;
	background-color: #2492ff;
	width: 40%;
	height: 100%;
}
.title{
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}
.title-primary{
	color: #fff;
}
.title-second{
	color: #2492ff;
}
.description{
	font-size: 12px;
	font-weight: 300;
	line-height: 30px;
}
.description-primary{
	color: #fff;
}
.description-second{
	color: #808080;
}
.btn{
	border-radius: 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 10px 50px;
	cursor: pointer;
	font-weight: bold;
	width: 150px;
	align-self: center;
	border-width: 0;
	margin-top: 1rem;
}
.btn-primary{
	background-color: transparent;
	border: 1px solid #fff;
}
.btn-primary:hover{
	background-color: #fff;
	color: #2492ff;
}
.btn-second{
	background-color: #2492ff;
	border: 1px solid #2492ff;
}
.btn-second:hover{
	background-color: #fff;
	border: 1px solid #2492ff;
	color: #2492ff;
}
.first-colum{
	text-align: center;
	flex: 1 0 auto;
	z-index: 10;
}
.second-colum{
	flex: 2 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.first-content{
	display: flex;
}
.form{
	display: flex;
	flex-direction: column;
	width: 55%;
}
.form input{
	height: 45px;
	border: none;
	border-radius: 15px;
	background-color: #dfe3e6;
	margin: 8px;
	padding: 0 5px;
}
.second-content{
	position: absolute;
	display: none;
}