p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
p, li, h1 {
  color: black;
}
html{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
h1{
	font-size: 60px;
	text-align: center;
}
p, li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
html {
  background-color: #0077ce;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #ffffff;
	color: black;
}
input:focus {
	border: 3px solid #555;
}

