body, html{
	height: 768px;
	margin: 0px;
}
img{
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	box-shadow: 20px;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: arial;
	
}
ul{
	list-style: none;
}
a{
	font-size: 16px;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 20px;
}
a:hover{
		background-color: rgba(255,255,255,.3);
}
nav{
	background-color: #2492ff;
	height: 50px;
}
ul#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
	position: relative;
}
.li-p{
	line-height: 50px;
	float: left;
}
ul li ul li{
	background-color: #2492ff; 
}
#container figcaption{
	position: absolute;
	top: 145px;
	left: 60px;
	font-size: 40px;
	color: white;
	font-family: arial black;
}
figure article figcaption h2{
	font-family: arial;
	font-size: 18px;
	margin: 45px;
}

.btn{
	font-family: arial;
	font-weight: 700;
	border: none;
	margin: 0px 200px;
	padding: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	background: #2492ff;
	color: white;
	box-shadow:0 5px 0  #0073e6;
}
.btn:hover{
	background-color: #48a4ff;
}
html{
	font-size: 10px;
	background-color: white;
}
