html {
	background-color: white;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: arial;
	
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 20px;
}
a:hover{
		background-color: rgba(255,255,255,.3);
}
nav{
	background-color: #2492ff;
	height: 50px;
}
ul#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
	position: relative;
}
.li-p{
	line-height: 50px;
	float: left;
}
ul li ul li{
	background-color: #2492ff; 
}
.ul-servicos{
	display: none;
	position: absolute;
}
input {
	width: 50%;
	padding: 12px 20px;
	margin: 12px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #ffffff;
	color: black;
	transition: width 0.4s ease-in-out;
}

label {
	padding: 20px;
	text-align: left;
}
input[value="Enviar"] {
	width: 10%;
	padding: 10px 10px;
	border: none;
	margin: 10px;
	content: 0 5px;
	background-color: green;
	color: white;
}
select {
  	width: 70%;
  	margin: 12px;
  	padding: 16px 20px;
  	border: 2px solid black;
  	border-radius: 4px;
  	background-color: #f1f1f1;
}
h1{
	padding: 25px;
}
