body, html{
	height: 768px;
	margin: 0px;
	padding: 0px;
}
html{
	font-size: 10px;
	background-color: #a3d8f4;
}
body{
	font-family: arial;
	width: 90%;
	margin: 0 auto;	
}
header{
	text-align: center;
	font-size: 2rem;
	padding: 15px 0px 10px;
}
main{
	display: flex;
	background-color: white;
}
article{
	flex: 5;
	text-align: justify;
}
ul{
	list-style: none;
}
nav a{
	font-size: 16px;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 20px;
}
nav a:hover{
		background-color: rgba(255,255,255,.3);
}
nav{
	background-color: #2492ff;
	height: 50px;
}
nav form{
	flex: 1;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 2em;
}
nav form input{
	font-size: 1.6rem;
	height: 32px;
}
input[type="submit"]{
	flex: 1;
	margin-left: 1rem;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}
input[type="search"]{
	flex: 3;
	border: 0;
	border-radius: 3px;
}
aside{
	flex: 2;
	margin-left: 10px;
	background-color: #2492ff;
	color: white;
}
aside ul li{
	padding-bottom: 10px;
	list-style: circle;
}
aside h3{
	font-size: 2rem;
	margin-left: 5px;
}
ul#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
	position: relative;
}
.li-p{
	line-height: 50px;
	float: left;
}
ul li ul li{
	background-color: #2492ff; 
}

h1{
	text-align: center;
	margin: 10px 0px 10px;
	font-size: 3rem;
}
h2{
	margin: 4px 40px;
	font-size: 2rem;
}
div{
	margin: 20px;
	text-align:center;
}
p, li{
	font-size: 1.6rem;
	line-height: 1.5;
	letter-spacing: 1px;
}
p{
	margin: 0px 40px;
	text-indent: 20px;
}
ul[class="list"]{
	margin: 0px 80px;
	list-style: circle;
}
footer{
	margin-top: 10px;
	padding: 4px;
	background-color: #2492ff;
	color: white;	
}