body, html{
	height: 768px;
	margin: 0px;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: arial;
	
}
ul{
	list-style: none;
}
a{
	font-size: 16px;
	text-decoration: none;
	color: white;
	display: block;
	padding: 0px 20px;
}
a:hover{
		background-color: rgba(255,255,255,.3);
}
nav{
	background-color: #2492ff;
	height: 50px;
}
ul#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
	position: relative;
}
.li-p{
	line-height: 50px;
	float: left;
}
ul li ul li{
	background-color: #2492ff; 
}

table, th, td {
	border-collapse: collapse;
	
}
th, td {
	padding: 15px;
}
th{
	text-align: left;
}
table {
	margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
	border-spacing: 15px;
}
#t01 th {
  	background-color: #2492ff;
  	color: white;
}
#t01 tr:nth-child(even) {
  	background-color: #e5e5e5;
}
#t01 tr:nth-child(odd){
	background-color: white;
}
th, tr{
	cursor: default;
}
#t01 tr:hover{
	background-color: #d3dffe;
}
body {
  	width: 100%;
  	background-color: #ffffff;
}
h1 {
  	text-align: center;
  	padding: 20px 0;    
  	color: #00539F;
  	text-shadow: 2px 2px 1px black;
}
html {
  	background-color: #0077ce;
}