
/*News images */
.img-responsive{
    width: 100%;
  }

 @media screen and (max-width: 620px) {
.second-content{
flex-direction: column;
background-color: #ccc;
}
.sign-in-js .second-content .first-column {
    position: absolute;
    top: 392px;
}
.first-content{
flex-direction: column;
}

.first-column h2{
	margin-top: 50px;
}
.first-content .second-column {
    margin: 60px 0;
    width: 650px;
}

.content::before {
    width: 40%;
   	height: 338px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    margin: 0 auto;
    left: 30%;
}
.sign-in-js .content::before {
    left: 30%;
    top: 368px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
     border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/*Animação p/ conteúdo versão Mobile*/

  @keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: -100px;
        opacity: .2;
	}

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
  }


  @keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
    }

    to {
        left: 110px;
        z-index: -1;
    }
  }


  /*Animação*/
  @keyframes slidein {

    from {
        left: 30%;
        width: 40%;
    }

    25% {
        top: 5%;
        width: 45%;
    }

    50% {
        top: 25%;
        width: 50%;
    }

    75% {
        top: 45%;
        width: 55%;
    }

    to {
        top: 60%;
        width: 40%;
    }
  }

  @keyframes slideout {

    from {
        top: 60%;
        width: 40%;
    }

    25% {
        top: 45%;
        width: 45%;
    }

    50% {
        top: 25%;
        width: 50%;
    }

    75% {
        top: 5%;
        width: 55%;
    }

    to {
        top: 0;
        width: 40%;
    }
}
 }



